<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SunnyFound</title>
    style
       include ../static/style.css
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/">Service</a></li>

        </ul>
    </nav>
 
    <div class="container">
         <div class="box">
              <div class="item">
              <h1>1. MEDIA</h1>
              <h2>At this website you can get news related to the media.Which make you always updated from your surrounding</h2>
                
              <img src="/static/media.jpg" alt="media" class="media">
              </div>


              <div class="item1">
              <h1>2. CRYPTO CURRENCY</h1>
              <h2>Cryto market is very volatile market. you can always see there many up & down happenend every time.If you are a investor then you should always check the market.it is necessory to check market always for you.but at our website you get updates related to the market. </h2>
              <img src="/static/crypto.jpg" alt="" class="crypto">
              </div>

               <div class="item2">
               <h1>3. TECHNOLOGY</h1>
               <h2>We also provide updates related to the our modern technology. at this website you can get update related to the tech.</h2>   
               <img src="/static/tech.jpg" alt="" class="tech">
              </div>

              <div class="item3">
              <h1>4. SPECIAL OFFER</h1>
              <h2>If you are interest in online shoping, we will also provide you intresting online offers for your shoping.</h2>
              <img src="/static/special.jpg" alt="" class="special">
              </div>
         </div>
    </div>
    <footer>SunnyFound@2022</footer>
</body>

</html>